
/* Style général */

html, body {
    height: 100%;
}
body {
    padding: 20px;
}

.messages-list {
    height: auto;
}

.message-field {
    height: 100px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}
.message-field textarea {
    resize: none;
    width: calc(100% - 220px);
    height: 100%;
    border: none;
}
.message-field textarea:focus {
    border: none;
    outline: none;
}
.message-field .button {
    display: inline-block;
    width: 200px;
    float: right;
}
.message-field .button label {
    font-weight: normal;
}
.message-field span.btn-default {
    display: block;
    margin-bottom: 20px;
}



@media (min-width: 992px) {
    .full-height {
        height: 100%;
    }
    .full-height.panel-body {
        height: calc(100% - 40px);
    }
    .full-height.panel {
        height: calc(100% - 20px);
    }
    .messages-list {
        height: calc(100% - 100px);
        max-height: calc(100% - 100px);
        overflow-y: auto;
    }
}






/* Styles parmis les messages */
.messages-list p.indication {
    color: lightgray;
    font-size: 0.9em;
    text-align: center;
}

.messages-list p.message span.pseudo {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Times New Roman";
    min-width: 110px;
}
.messages-list p.message span.pseudo::after {
    content: " : ";
    margin-right: 20px;
}
.messages-list p.message span.message {
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-left: 130px;

}










